
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_FurniLayout.cshtml";
}

<div class="untree_co-section">
    <div class="container">
        <div class="row mb-5" id="loginDiv">
            <div class="col-md-12">
                <div class="border p-4 rounded" role="alert">
                    Returning customer? <a href="@Url.Action("Login", "Login", new { area = "EndUser" })">Click here</a> to login
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-5 mb-md-0" id="placeOrderForm">
                <h2 class="h3 mb-3 text-black">Billing Details</h2>
                <div class="p-3 p-lg-5 border bg-white">

                    <div class="form-group row">
                        <input type="hidden" id="c_id">
                        <div class="col-md-12">
                            <label for="c_fullname" class="text-black">Name <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="c_fullname" name="c_fullname">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-12">
                            <label for="c_address" class="text-black">Address <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="c_address" name="c_address" placeholder="Street address">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-12">
                            <label for="c_city" class="text-black">City <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="c_city" name="c_city">
                        </div>
                        <div class="col-md-12">
                            <label for="c_country" class="text-black">Country <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="c_country" name="c_country">
                        </div>
                        <div class="col-md-12">
                            <label for="c_postal_zip" class="text-black">Posta / Zip <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="c_postal_zip" name="c_postal_zip">
                        </div>
                    </div>

                    <div class="form-group row mb-5">
                        <div class="col-md-12">
                            <label for="c_email_address" class="text-black">Email Address <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="c_email_address" name="c_email_address">
                        </div>
                        <div class="col-md-12">
                            <label for="c_phone" class="text-black">Phone <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="c_phone" name="c_phone" placeholder="Phone Number">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="c_create_account" class="text-black" data-bs-toggle="collapse" href="#create_an_account" role="button" aria-expanded="false" aria-controls="create_an_account">
                            <input type="checkbox" value="1" id="c_create_account"> Create an account?
                        </label>
                        <div class="collapse" id="create_an_account">
                            <div class="py-2 mb-4">
                                <p class="mb-3">Create an account by entering the information below. If you are a returning customer please login at the top of the page.</p>
                                <div class="form-group">
                                    <label for="c_account_username" class="text-black">Account Username</label>
                                    <input type="text" class="form-control" id="c_account_username" name="c_account_username" placeholder="">
                                </div>
                                <div class="form-group">
                                    <label for="c_account_password" class="text-black">Account Password</label>
                                    <input type="password" class="form-control" id="c_account_password" name="c_account_password" placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="c_ship_different_address" class="text-black" data-bs-toggle="collapse" href="#ship_different_address" role="button" aria-expanded="false" aria-controls="ship_different_address"><input type="checkbox" value="1" id="c_ship_different_address"> Ship To A Different Address?</label>
                        <div class="collapse" id="ship_different_address">
                            <div class="py-2">

                                <div class="form-group row  mb-3">
                                    <div class="col-md-12">
                                        <label for="c_diff_address" class="text-black">Address <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="c_diff_address" name="c_diff_address" placeholder="Street address">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label for="c_diff_state_city" class="text-black">City<span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="c_diff_state_city" name="c_diff_state_city">
                                    </div>
                                    <div class="col-md-12">
                                        <label for="c_diff_state_country" class="text-black">State / Country <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="c_diff_state_country" name="c_diff_state_country">
                                    </div>
                                    <div class="col-md-12">
                                        <label for="c_diff_postal_zip" class="text-black">Posta / Zip <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="c_diff_postal_zip" name="c_diff_postal_zip">
                                    </div>
                                </div>



                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="c_order_notes" class="text-black">Order Notes</label>
                        <textarea name="c_order_notes" id="c_order_notes" cols="30" rows="5" class="form-control" placeholder="Write your notes here..."></textarea>
                    </div>

                </div>

            </div>
            <div class="col-md-6">


                <div class="row mb-5">
                    <div class="col-md-12">
                        <h2 class="h3 mb-3 text-black">Your Order</h2>
                        <div class="p-3 p-lg-5 border bg-white">
                            <table class="table site-block-order-table mb-5">
                                <thead>
                                <th>Product</th>
                                <th>Total</th>
                                </thead>
                                <tbody id="checkoutOrderTable">
                                    <tr>
                                        <td class="text-black font-weight-bold"><strong>Cart Subtotal</strong></td>
                                        <td class="text-black" id="checkoutSubtotal">0.00</td>
                                    </tr>
                                    <tr>
                                        <td class="text-black font-weight-bold"><strong>Shipping Amount</strong></td>
                                        <td class="text-black" id="shippingAmount">200</td>
                                    </tr>
                                    <tr>
                                        <td class="text-black font-weight-bold"><strong>Order Total</strong></td>
                                        <td class="text-black font-weight-bold"><strong id="checkoutTotal">$0.00</strong></td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="border p-3 mb-3">

                                <div class="form-check">
                                    <input class="form-check-input" type="radio"
                                           name="paymentMethod"
                                           value="COD"
                                           id="pmCOD" checked
                                           data-bs-toggle="collapse"
                                           data-bs-target="#collapsecod">

                                    <label class="form-check-label w-100" for="pmCOD">
                                        <a class="d-block">Cash on Delivery</a>
                                    </label>
                                </div>

                                <div class="collapse" id="collapsecod" data-bs-parent="#PaymentMethods">
                                    <div class="py-2">
                                        <p class="mb-0">Pay with cash upon delivery.</p>
                                    </div>
                                </div>

                            </div>

                            <div class="border p-3 mb-3" id="PaymentMethods">

                                <!-- BANK -->
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="paymentMethod"
                                           value="Bank" id="pmBank"
                                           data-bs-toggle="collapse" data-bs-target="#collapsebank">

                                    <label class="form-check-label w-100" for="pmBank">
                                        <a class="d-block">Direct Bank Transfer</a>
                                    </label>
                                </div>

                                <div class="collapse show" id="collapsebank" data-bs-parent="#PaymentMethods">
                                    <div class="py-2">
                                        <p class="mb-0">
                                            Make your payment directly into our bank account. Use Order ID as reference.
                                        </p>
                                    </div>
                                </div>

                            </div>


                            <!-- CHEQUE -->
                            <div class="border p-3 mb-3">

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="paymentMethod"
                                           value="Cheque" id="pmCheque"
                                           data-bs-toggle="collapse" data-bs-target="#collapsecheque">

                                    <label class="form-check-label w-100" for="pmCheque">
                                        <a class="d-block">Cheque Payment</a>
                                    </label>
                                </div>

                                <div class="collapse" id="collapsecheque" data-bs-parent="#PaymentMethods">
                                    <div class="py-2">
                                        <p class="mb-0">Cheque payment instructions here.</p>
                                    </div>
                                </div>

                            </div>


                            <!-- PAYPAL -->
                            <div class="border p-3 mb-3">

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="paymentMethod"
                                           value="PayPal" id="pmPaypal"
                                           data-bs-toggle="collapse" data-bs-target="#collapsepaypal">

                                    <label class="form-check-label w-100" for="pmPaypal">
                                        <a class="d-block">Paypal</a>
                                    </label>
                                </div>

                                <div class="collapse" id="collapsepaypal" data-bs-parent="#PaymentMethods">
                                    <div class="py-2">
                                        <p class="mb-0">Pay via PayPal.</p>
                                    </div>
                                </div>

                            </div>


                            <!-- COD -->
                            <!-- STRIPE -->
                            <div class="border p-3 mb-5">

                                <div class="form-check">
                                    <input class="form-check-input" type="radio"
                                           name="paymentMethod"
                                           value="Stripe"
                                           id="pmStripe"
                                           data-bs-toggle="collapse"
                                           data-bs-target="#collapsestripe">

                                    <label class="form-check-label w-100" for="pmStripe">
                                        <a class="d-block">Credit / Debit Card (Stripe)</a>
                                    </label>
                                </div>

                                <div class="collapse" id="collapsestripe" data-bs-parent="#PaymentMethods">
                                    <div class="py-2">
                                        <p class="mb-0">Pay securely using your card.</p>
                                    </div>
                                </div>

                            </div>

                            <div class="form-group text-end">
                                <button type="button"
                                        class="btn btn-black btn-lg py-3 btn-block"
                                        onclick="placeOrder()">
                                    Place Order
                                </button>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- </form> -->
    </div>
</div>
@section scripts{
    <script>
        let checkoutSymbol = "Rs.";
        $(document).ready(function () {
    loadCheckoutDetails();
});

function loadCheckoutDetails() {
    $.ajax({
        url: '@Url.Action("GetCheckoutData", "Checkout", new { area = "EndUser" })',
        type: 'GET',
        success: function (response) {
            if (response.success) {
                checkoutSymbol = response.symbol || "Rs.";
                renderOrderTable(response.cart);

                // 2. Auto-fill User Data if logged in
                if (response.user) {
                    // Fill the values
                    $('#c_id').val(response.user.UserId).prop('readonly', true);
                    $('#c_fullname').val(response.user.FullName).prop('readonly', true);
                    $('#c_email_address').val(response.user.Email).prop('readonly', true);

                    // 1. Handle the checkbox and account creation logic
                    $('#c_create_account').prop('disabled', true);
                    $('#c_create_account').prop('checked', false);

                    // 2. UI Cleanup: Collapse and Hide containers
                    $('#create_an_account').collapse('hide');
                    $('#c_create_account').closest('.form-group').hide();

                    $('#loginDiv').hide();
                    $('.alert-info').closest('.row').hide();

                    // Optional: Add a CSS class to visually indicate the fields are locked
                    $('#c_fullname, #c_email_address').css('background-color', '#e9ecef');
                }
            } else {
                window.location.href = '@Url.Action("Cart", "LocalHome", new { area = "EndUser" })'; // Redirect if session expired
            }
        }
    });
}


        function renderOrderTable(cartData) {
            if (!cartData || !cartData.Items) return;

            const tableBody = $('#checkoutOrderTable');
            let rows = '';

            // Clear product rows, keeping totals
            tableBody.find('tr:not(:has(#checkoutSubtotal)):not(:has(#checkoutTotal)):not(:has(#shippingAmount))').remove();

            cartData.Items.forEach(item => {
                // Use Final1UnitPrice for consistency with the cart totals
                const unitPrice = item.Final1UnitPrice || 0;
                rows += `
        <tr>
            <td>${item.Name} <strong class="mx-2">x</strong> ${item.Quantity}</td>
            <td>${checkoutSymbol} ${(unitPrice).toFixed(2)}</td>
        </tr>`;
            });

            tableBody.prepend(rows);

            // Update Totals
            $('#checkoutSubtotal').text(checkoutSymbol + ' ' + cartData.Subtotal.toFixed(2));

            // Manage Shipping Display
            const shippingTarget = $('#shippingAmount');

            // Check the boolean flag set in your GetCartItems C# logic
            if (cartData.HasFreeShipping) {
                // Find the specific coupon that granted free shipping for the description
                const fsCoupon = cartData.AppliedCoupons.find(c =>
                    c.CouponType === "Free Shipping" || c.CouponType === "FreeShippingMinOrder"
                );

                let reason = "Free shipping coupon applied";
                if (fsCoupon && fsCoupon.CouponType === "FreeShippingMinOrder") {
                    reason = `Free shipping as order is > ${fsCoupon.minorderprice}`;
                }

                shippingTarget.html(`
            <span class="text-success">Free</span> 
            <br><small class="text-success" style="font-size: 0.75rem;">
            (${reason})
            </small>`);
            } else {
                shippingTarget.text(checkoutSymbol + ' ' + cartData.ShippingAmount.toFixed(2));
            }

            $('#checkoutTotal').text(checkoutSymbol + ' ' + cartData.GrandTotal.toFixed(2));
        }
   function placeOrder() {

       const orderDetails = {

        FullName: $('#c_fullname').val(),
        CustomerId: $('#c_id').val(),

        Address: $('#c_address').val(),
        City: $('#c_city').val(),
        Country: $('#c_country').val(),
        ZipCode: $('#c_postal_zip').val(),

        Email: $('#c_email_address').val(),
        Phone: $('#c_phone').val(),

        CreateAccount: $('#c_create_account').is(':checked'),
        AccountUsername: $('#c_account_username').val(),
        AccountPassword: $('#c_account_password').val(),

        ShipDifferent: $('#c_ship_different_address').is(':checked'),
        DiffAddress: $('#c_diff_address').val(),
           DiffCity: $('#c_diff_state_city').val(),
        DiffState: $('#c_diff_state_country').val(),
        DiffZip: $('#c_diff_postal_zip').val(),

        OrderNotes: $('#c_order_notes').val(),
        PaymentMethod: $("input[name='paymentMethod']:checked").val(),
        CouponCode: $('#c_code').val()
    };

    // ✅ VALIDATION
    if (!orderDetails.FullName) return alert("Name required");
    if (!orderDetails.Address) return alert("Address required");
    if (!orderDetails.Email) return alert("Email required");
    if (!orderDetails.Phone) return alert("Phone required");
       if (!orderDetails.PaymentMethod) return alert("PaymentMethod required");

    $.ajax({
        url: '@Url.Action("FinalizeOrder", "Orders", new { area = "Products"})',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(orderDetails),
        success: function (res) {
            if (res.success) {
                const badge = $('#cart-badge');
                badge.text('');
                badge.hide();

                setTimeout(function () {
                window.location.href = '@Url.Action("Orders", "Orders", new { area = "Products", returnType = 1 })';

                }, 1000);    }
            else {
                alert(res.message);
            }
        }
    });
}

    </script>
}

